body, html {
    height: 100%;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
  }
  
  .hero-image {
    /* background-image: url('../images/bg_banner.jpg'); */
    height: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
  }
  
  .hero-text {
    text-align: center;
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }
  .head{
    margin-top: 5rem;
    margin-bottom:5rem ;
}